
<div class="container">
   <nav class="navbar navbar-expand-lg black fixed-top scrolling-navbar">
      <div class="container">
        <img src="/assets/side-view-logo.png" width="50%", alt="logo" >
      </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
            aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon dark-amber-text"></span>
          </button>
        <div class="collapse navbar-collapse" id="basicExampleNav">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item">
            </li>

            <li class="nav-item">
            </li>

            <li class="nav-item">
              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
            </li>

          </ul>
      </div>
   </nav>
  <div id="bar-page">
  <div class="bar-container">
    <div class="row">
      <div class="col-xs-12 col-sm-5">
        <div class="bar-picture">
          <p class="p-bar img-user">
            <%= image_tag(@user.picture, :size => "300x350") %>
          </p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
          <div class="bar-profile title-bar">
            <h1 id="h1-bar">Part-time Bartender:</h1>
              <p class="user-name">
               <%= @user.name %>
              </p>
          </div>
          
          <div class="bar-profile bar-profile-2">
            <div class="info-text">
            Gender:
            <p class="p-bar">
              <%= @user.gender %>
            </p>
            </div>
        
          <div class="info-text">
            Rate:
            <p class="p-bar">
                <%= @user.rate%>
            </p>
          </div>

  
          <div class="info-text">
                Bartender:
            <p class="p-bar">
              <%= if @user.standard
                  p "standard"
                  end %>
              <%= if @user.flair
                  p "flair"
                  end %>
              <%= if @user.mixologist
                 p "mixologist"
                  end %>

            </p>
          </div>
           </div>

          <div class="bar-profile info-text">
               Bio:
            <p class="p-bar bio">
                <%= @user.bio %>
            </p>
          </div>

          <div class="bar-profile links-to">
            <ul class="links-to-li">
              <li class="links-to-links">
                <button class= "btn orange btn-sm" type="button">
                  <%= link_to 'Edit', welcome_edit_bartenders_path, :style => "color:white; font-size: 15px;"%>
              </button>
              </li>
              <li class="links-to-links">
                <button class= "btn orange btn-sm" type="button">
                  <%= link_to "Back", welcome_search_path(resource_name), :style => "color:white; font-size: 15px;" %>
                </button>
              </li>
            </ul>
          </div>
      </div>
      <div class="col-xs-12 col-sm-1">
               <button class= "btn orange btn-sm" type="button">
                  <%= link_to 'See your events', events_path, :style => "color:white; font-size: 15px;"%> 
                </button>
      </div>
    </div>
  </div>
</div>
