<%= link_to 'Home', root_path%> 

<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>



<h1>Bartender profile/bio</h1>

<%= image_tag(@user.picture) %>
<p>
Name:
  <%= @user.name %>
</p>

<p>
Rating:

  <%= @user.rating %>
</p>




<p>
Bio:
  <%= @user.bio %>
</p>

<p>
Gender:
  <%= @user.gender %>
</p>

<p>
Rate:

  <%= @user.rate %>
</p>




<%# this part not working properly, must fix later%>
<p>
Type of bartender:

  <%= if @user.standard 
        p "standard"
        end    %>
     <%= if @user.flair
        p "flair"
        end %>
          <%= if @user.mixologist
       p "mixologist"
       end
       %>
   
</p>



        <td><%= link_to 'Edit', welcome_edit_bartenders_path%></td>
