
<div class="col-lg-4 offset-lg-4 col-sm-6 offset-sm-3 mt-4">
  <div class="card">
    <!-- Card content -->
    <div class="card-body">
      <h4 class="card-title text-center">More information</h4>

      <%= form_for(resource, as: resource_name, url: user_registration_path(resource_name), html: {method: :patch}) do |f| %>

        <div class ="field">
        <%= f.file_field :picture%>
        <%= f.label :picture, class: "font-weight-light" %>
        </div>


        <div class="md-form indigo-text">
          <%= f.text_field :gender, autofocus: true, autocomplete: "gender", class: "form-control", value: current_user.gender %>
          <%= f.label :gender, class: "font-weight-light" %>
        </div>

         <div class="md-form indigo-text">
          <%= f.text_field :rate, autofocus: true, autocomplete: "rate", class: "form-control", value: current_user.rate %>
          <%= f.label :rate, class: "font-weight-light" %>
        </div>

        <div class="md-form indigo-text">
          <%= f.text_field :home_address, autofocus: true, autocomplete: "home_address", class: "form-control", value: current_user.home_address %>
          <%= f.label :home_address, class: "font-weight-light" %>
        </div>


           <div class="md-form indigo-text">
          <%= f.text_field :travel_radius, autofocus: true, autocomplete: "travel_radius", class: "form-control", value: current_user.travel_radius %>
          <%= f.label :travel_radius, class: "font-weight-light" %>
        </div>
   
        
    
       <div class="md-form indigo-text">
          <%= f.check_box :standard %>
          <%= f.label :standard %>
        </div>
    

       <div class="md-form indigo-text">
          <%= f.check_box :flair %>
          <%= f.label :flair%>
       </div> 

         <div class="md-form indigo-text">
          <%= f.check_box :mixologist %>
          <%= f.label :mixologist%>
       </div> 

       <div class="md-form indigo-text">
          <%= f.check_box :monday %>
          <%= f.label :monday%>
       </div> 

         <div class="md-form indigo-text">
          <%= f.check_box :tuesday %>
          <%= f.label :tuesday%>
       </div> 

      <div class="md-form indigo-text">
          <%= f.check_box :wednesday %>
          <%= f.label :wednesday%>
       </div> 

         <div class="md-form indigo-text">
          <%= f.check_box :thursday %>
          <%= f.label :thursday%>
       </div> 


         <div class="md-form indigo-text">
          <%= f.check_box :friday %>
          <%= f.label :friday%>
       </div> 


         <div class="md-form indigo-text">
          <%= f.check_box :saturday %>
          <%= f.label :saturday%>
       </div> 




         <div class="md-form indigo-text">
          <%= f.check_box :sunday %>
          <%= f.label :sunday%>
       </div> 









   <div class="md-form indigo-text">
          <%= f.text_field :bio, autofocus: true, autocomplete: "travel_radius", class: "form-control" , value: current_user.bio%>
          <%= f.label :bio, class: "font-weight-light" %>
        </div>
       

        <div class="text-center mt-4">
          <%= f.submit "Submit", class: 'btn btn-indigo' %>
        </div>

      <% end %>
    </div>
  </div>
  <div class="mt-4 text-center indigo-text">
  </div>
</div>

