
<div class="col-lg-4 offset-lg-4 col-sm-6 offset-sm-3 mt-4 card">
  
    <div class="card-body">
      <h5 class="card-title text-center" id="changing-text">More information</h5>


          <%= form_for(resource, as: resource_name, url: user_registration_path(resource_name), html: {method: :patch}) do |f| %>

            <div class="md-form">
              <%= f.text_field :gender, class: "form-control", placeholder: "Gender", value: current_user.gender %>
            </div>

            <div class="md-form">
              <%= f.text_field :rate, class: "form-control", placeholder: "Wage per Hour", value: current_user.rate %>
            </div>

            <div class="md-form">
              <%= f.text_field :home_address, class: "form-control",  placeholder: "Home Address",value: current_user.home_address %>
            </div>


              <div class="md-form" >
              <%= f.text_field :travel_radius, class: "form-control",  placeholder: "Travel radius",value: current_user.travel_radius %>
            </div>
      
      <div id="move-pic">
              <h5 id="changing-text">Add your Profile Picture</h5>

            <div class ="field" >
            <%= f.file_field :picture%>
            </div>

</div>
        <div class="types-of-bartenders">
          <h5 id="changing-text">Check off the categories of bartending you specialize in:</h5>
            <div class="row" >
              <div class="md-form col-md-4">
              <%= f.check_box :standard %>
              <%= f.label :standard %>
              </div>
  
              <div class="md-form col-md-4">
              <%= f.check_box :flair %>
              <%= f.label :flair%>
              </div> 

            <div class="md-form col-md-4">
              <%= f.check_box :mixologist %>
              <%= f.label :mixologist%>
            </div>
          </div> 

    </div>
    <div class="container-fluid">


        <h5 id="changing-text">What days of the week are you available:</h5>
    <div class="row">
            <div class="md-form indigo-text col-md-4-offset-7">
                <%= f.check_box :monday %>
                <%= f.label :monday, class: "days"%>
            </div>

              <div class="md-form indigo-text col-md-4-offset-6">
                <%= f.check_box :tuesday %>
                <%= f.label :tuesday, class: "days"%>
            </div>

            <div class="md-form indigo-text col-md-4-offset-5">
                <%= f.check_box :wednesday %>
                <%= f.label :wednesday, class: "days"%>
            </div>

              <div class="md-form indigo-text col-md-4-offset-4">
                <%= f.check_box :thursday %>
                <%= f.label :thursday, class: "days"%>
              </div> 


              <div class="md-form indigo-text col-md-4-offset-3">
                <%= f.check_box :friday %>
                <%= f.label :friday, class: "days"%>
              </div>


              <div class="md-form indigo-text col-md-4-offset-2">
                <%= f.check_box :saturday %>
                <%= f.label :saturday, class: "days"%>
            </div>


              <div class="md-form indigo-text col-md-4-offset-1">
                <%= f.check_box :sunday %>
                <%= f.label :sunday, class: "days"%>
              </div>

      </div>
    </div>

    <div>
    <h5 id="changing-text">Write your Bio:</h5>
            <div class="md-form indigo-text">
              <%= f.text_field :bio, autofocus: true, autocomplete: "bio", class: "form-control" , value: current_user.bio%>
            </div>
    </div>

            <div class="text-center mt-4">
              <%= f.submit "Submit", class: 'btn btn-orange' %>
            </div>

          <% end %>
    </div>
  </div>
  <div class="mt-4 text-center indigo-text">
</div>

