
<div class="col-lg-4 offset-lg-4 col-sm-6 offset-sm-3 mt-4">
  <div class="card">
    <!-- Card content -->
    <div class="card-body">
      <h4 class="card-title text-center">More information</h4>

      <%= form_for(resource, as: resource_name, url: user_registration_path(resource_name), html: {method: :patch}) do |f| %>


           

         <div class="md-form indigo-text">
          <%= f.text_field :rate, autofocus: true, autocomplete: "rate", class: "form-control" %>
          <%= f.label :rate, class: "font-weight-light" %>
        </div>

        <div class="md-form indigo-text">
          <%= f.text_field :home_address, autofocus: true, autocomplete: "home_address", class: "form-control" %>
          <%= f.label :home_address, class: "font-weight-light" %>
        </div>


           <div class="md-form indigo-text">
          <%= f.text_field :travel_radius, autofocus: true, autocomplete: "travel_radius", class: "form-control" %>
          <%= f.label :travel_radius, class: "font-weight-light" %>
        </div>
        
    
       <div class="md-form indigo-text">
          <%= f.check_box :standard %>
          <%= f.label :standard %>
        </div>
    

       <div class="md-form indigo-text">
          <%= f.check_box :flair %>
          <%= f.label :flair%>
       </div> 

         <div class="md-form indigo-text">
          <%= f.check_box :mixologist %>
          <%= f.label :mixologist%>
       </div> 

        <div class="text-center mt-4">
          <%= f.submit "Submit", class: 'btn btn-indigo' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="mt-4 text-center indigo-text">
  </div>
</div>

