<%# <p id="notice"><%= notice %>
<body class ="Event-text-color">
<h1 class ="myHeading"> Your Events</h1>

<table class= "myTable">
  <thead>
    <tr>
      <th>Location</th>
      <th>Confirmed status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.location %></td>
        <% if event.confirmed %>
          <td>Confirmed</td>
          <% else %>
          <td>Not Confirmed</td>
        <% end%>

        <%# <td><%= link_to 'Show', event %>
        <%#</td> %>
        <td><%= link_to 'Confirm Request', edit_event_path(event) %></td>
        <%# <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
       <%# </td> %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</body>
<%# <%= link_to 'New Event', new_event_path %> 

<%= link_to 'Home', root_path%>

