<%# <p id="notice"><%= notice %>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Confirmed:</strong>
  <%= @event.confirmed %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
